$primaryColor: #55ff00;
$secondaryColor: white;
$thirdColor: black;

.detailMovie {
  width: 100%;
  text-align: center;
  //   margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 300x;
    height: 400px;
  }
  .descriptionDetailMovie {
    margin: 20px 20px;
  }
  h4 {
    color: $secondaryColor;
  }
  p {
    color: $secondaryColor;
  }
}
