.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style de la barre de défilement dans WebKit (Chrome, Safari) */
/* Vous pouvez ajuster ces styles selon vos préférences */

/* Barre de défilement principale */
::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

/* Piste (le fond de la barre de défilement) */
::-webkit-scrollbar-track {
  background: #000000; /* Couleur de la piste */
}

/* Poignée (la partie que vous faites glisser) */
::-webkit-scrollbar-thumb {
  background: #0f100f; /* Couleur de la poignée */
  border-radius: 6px; /* Coins arrondis */
  width: 1px;
}

/* Survol de la poignée */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur au survol de la poignée */
}
